<?xml version="1.0"?>
<model>
  <name>drone3_cam</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Yahia Aly</name>
    <email>yahia@ezrpa.com</email>
  </author>
  <description>
    Camera extension of base_drone_2: down-facing mapping camera streaming
    H.264/RTP on UDP port 5602 via GstCameraPlugin.
  </description>
  <depend>
    <model>
      <uri>model://base_drone_2</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
