[submodule "ros2_ardupilot/ardupilot_dev_docker"]
	path = ros2_ardupilot/ardupilot_dev_docker
	url = https://github.com/ArduPilot/ardupilot_dev_docker.git
[submodule "Micro-XRCE-DDS-Gen"]
	path = Micro-XRCE-DDS-Gen
	url = https://github.com/ardupilot/Micro-XRCE-DDS-Gen.git
[submodule "ros2_ardupilot/Micro-XRCE-DDS-Gen"]
	path = ros2_ardupilot/Micro-XRCE-DDS-Gen
	url = https://github.com/ardupilot/Micro-XRCE-DDS-Gen.git
