<?xml version="1.0"?>
   <launch>
      <param name="/use_sim_time" value="true" />
      <node name="cartographer_node"
            pkg="cartographer_ros"
            type="cartographer_node"
            args="-configuration_directory $(find ardupilot_ros)/configuration_files -configuration_basename cartographer1.lua"
            output="screen">
	    <remap from="odom" to="/mavros/local_position/odom" />
	    <remap from="imu" to="/mavros/imu/data" />
	    <remap from="scan" to="scan1" />
      </node>

      <!-- <node name="cartographer_node2"
            pkg="cartographer_ros"
            type="cartographer_node"
            args="-configuration_directory $(find ardupilot_ros)/configuration_files -configuration_basename cartographer2.lua"
            output="screen">
	    <remap from="odom" to="/d2/mavros/local_position/odom" />
	    <remap from="imu" to="/d2/mavros/imu/data" />
      </node>

      <node name="cartographer_node3"
            pkg="cartographer_ros"
            type="cartographer_node"
            args="-configuration_directory $(find ardupilot_ros)/configuration_files -configuration_basename cartographer3.lua"
            output="screen">
	    <remap from="odom" to="/d3/mavros/local_position/odom" />
	    <remap from="imu" to="/d3/mavros/imu/data" />
      </node> -->


      <node name="cartographer_occupancy_grid_node"
            pkg="cartographer_ros"
            type="cartographer_occupancy_grid_node" />

      <node name="robot_pose_publisher1"
            pkg="robot_pose_publisher"
            type="robot_pose_publisher1"
            respawn="false"
            output="screen" />
<!--       
      <node name="robot_pose_publisher2"
            pkg="robot_pose_publisher"
            type="robot_pose_publisher2"
            respawn="false"
            output="screen" />
      
      <node name="robot_pose_publisher3"
            pkg="robot_pose_publisher"
            type="robot_pose_publisher3"
            respawn="false"
            output="screen" /> -->

       <node pkg="rviz" type="rviz" name="rviz"
    	    args="-d $(find ardupilot_ros)/rviz/gmapping.rviz"/>
	

   </launch>
