<launch>
    <include file="$(find ardupilot_ros)/launch/apm-swarm.launch" />
    <include file="$(find ardupilot_ros)/launch/cartographer-swarm.launch" />
    <!-- <include file="$(find ardupilot_ros)/launch/ap_nav.launch" /> -->
    <!-- <node name="origin_publisher1"
            pkg="ardupilot_ros"
            type="set_origin1.py"
            respawn="false"
            output="screen" /> -->

    <!-- <node name="origin_publisher2"
            pkg="ardupilot_ros"
            type="set_origin2.py"
            respawn="false"
            output="screen" />

    <node name="origin_publisher3"
            pkg="ardupilot_ros"
            type="set_origin3.py"
            respawn="false"
            output="screen" /> -->
            
</launch>

