<?xml version="1.0"?>
<model>
  <name>Iris with ArduPilot</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Yahia Aly</name>
    <email>yahia@ezrpa.com</email>
  </author>

  <description>
    Iris quadrotor with ArduPilot integration for multi-drone simulation
  </description>
  <depend>
    <model>
      <uri>model://iris_with_standoffs</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>