<?xml version="1.0"?>
<model>
  <name>drone3_sprayer</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Yahia Aly</name>
    <email>yahia@ezrpa.com</email>
  </author>
  <description>
    Spraying-drone extension of base_drone_2 (FDM port 9022): spray tank,
    4-nozzle boom, and particle-emitter spray plumes sized to a DJI Agras
    T25-class platform. Pairs with sprayer.parm (ArduPilot AC_Sprayer).
  </description>
  <depend>
    <model>
      <uri>model://base_drone_2</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
